.navbar-fonts {
    color: orangered;
    font-family: 'Dancing Script', cursive;
    font-weight: 600;
    font-style: normal;
    font-size: 4rem;
    margin: 2rem;
    line-height: 4rem; 
    

  }
.highlight{
    font-size: 8rem; /* Larger font size for P and J */
    font-family: 'Dancing Script', cursive;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
  